commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/00_generate_envvars_file.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Make support directory
      mkdir /opt/elasticbeanstalk/support

      # Export environment variables (key=value) list to file
      /opt/elasticbeanstalk/containerfiles/support/generate_env environment > /opt/elasticbeanstalk/support/envvars
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_update_motd.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      update-motd --disable

      source /opt/elasticbeanstalk/support/envvars
      echo "This is a zimosworld.com manager server.

      Application: $APP_NAME
      Environment: $APP_ENV

      Special Commands
      ===================
      You can access the root user with:
        sudo su" > /etc/motd
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_env_configs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      source /opt/elasticbeanstalk/support/envvars

      # Get the running container ID
      CONTAINERID=$(docker ps -q)

      # Download the .env file from S3
      aws s3 cp s3://$BUILD_CONFIG_BUCKET/configs/$APP_NAME/$APP_ENV.env /tmp/.env

      # Copy the .env into the container
      docker cp /tmp/.env $CONTAINERID:/var/www/html

      # Update .env ownership in container
      docker exec $CONTAINERID chown -R www-data: /var/www/html/.env

      # Remove tmp .env file
      rm -f /tmp/.env